* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --main-color: coral;
}
/*Global  */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
main {
  padding-top: 4rem;
}
